#footer {
    padding: 64px 32px 24px;
    border-top: 1px solid var(--border-color);
}

.footer__top {
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--border-color);
}

.footer__category {
    ul {
        list-style: none;
    }
}

.footer__category-name {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 3rem;
}

.footer__category-link {
    display: block;
    font-weight: 300;
    padding-bottom: 1.6rem;
    color: var(--gray-text);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 24px 0;
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__left-logo {
    svg {
        height: 23px;
        width: 77px;
    }
}

.footer__left-policy {
    font-weight: 300;
    margin-left: 2.4rem;
    color: #b5b6ba;
}

.footer__right {
    display: flex;
    align-items: center;
}

.footer__right-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer__right-list--social {
    padding-right: 2.4rem;
}

.footer__setting-item {
    button {
        display: flex;
        align-items: center;
        overflow: hidden;
        border: none;
        background-color: transparent;
        text-transform: unset;
        padding: 8px 12px;
        cursor: pointer;

        svg {
            fill: #74767e;
        }

        span {
            font-family: var(--font-family);
            font-size: 1.4rem;
            font-weight: 400;
            margin-left: 0.8rem;
            color: #74767e;
        }

        &:hover {
            background: #f5f5f5;
            border-radius: 54px;
            color: #404145;
            transition: all 0.2s ease;

            svg {
                fill: #404145;
            }

            span {
                color: #404145;
            }
        }
    }
}

.footer__setting-item + .footer__setting-item {
    margin-left: 0.4rem;
}

.footer__social-item {
    margin-right: 0.8rem;
}

.footer__social-link {
    svg {
        font-size: 2.4rem;
    }
}

//Responsive for tablet + mobile devices
@media (max-width: 1023px) {
}

//Responsive for tablet devices
@media (min-width: 740px) and (max-width: 1023px) {
    .footer__bottom {
        display: block;
        padding-bottom: 0;
    }

    .footer__right {
        padding-top: 1.6rem;
        margin-left: -0.8rem;
    }
}

//Responsive for mobile devices
@media (max-width: 739px) {
    :root {
        --padding-bottom: 0.8rem;
    }

    #footer {
        padding: 2.4rem;

        .footer__category {
            padding: 0 0 2rem 0;
        }
    }

    .footer__top {
        padding-bottom: 0.4rem;

        ul {
            padding: unset;
        }
    }

    .footer__category {
        svg {
            font-size: 2.4rem;
            fill: #74767e;
        }
    }
    .footer__category-name {
        font-weight: 500;
        flex: 1;
        margin-bottom: unset;
    }

    li.footer__category-item {
        padding: unset;
    }

    .footer__category-link {
    }

    .footer__bottom {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 0;
    }

    .footer__left {
        display: block;
    }

    .footer__left-logo {
        padding-bottom: var(--padding-bottom);
    }

    .footer__left-policy {
        display: block;
        margin-left: 0;
        padding-bottom: var(--padding-bottom);
    }

    .footer__right {
        display: block;
    }

    .footer__right-list {
        justify-content: center;
    }

    .footer__right-list--social {
        padding-right: unset;
        padding-bottom: var(--padding-bottom);
    }
}
