.service-list__item-wrapper {
    margin: 0 -var(--service-list-gap);
    padding: 0 var(--service-list-gap);
}

.service-list__btn {
    width: 4.8rem;
    height: 4.8rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    z-index: 4;
    background-color: var(--white);
    border-radius: 50%;

    &::before,
    &:after {
        content: '';
        opacity: 1;
        background-repeat: no-repeat;
        background-size: 16px 64px;
        width: 16px;
        height: 16px;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: unset;
        line-height: unset;
    }

    &:hover {
        background-color: var(--white);
    }

    &.service-list__btn--prev {
        left: -10px;
    }
    &.service-list__btn--next {
        right: -10px;
    }
}

.service-list__btn--prev::before {
    background-image: url('../../../../../../assets/images/arrow-prev.png');
}

.service-list__btn--next::after {
    margin-left: 3px;
    background-image: url('../../../../../../assets/images/arrow-next.png');
}

.service-list__item {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--white);
    border-radius: 4px;
    height: 345px;
    width: 255px;
    background-size: cover;

    &:hover {
        opacity: 0.85;
        transition: opacity 0.3s ease-in-out;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.service-list__item-content {
    position: relative;
    padding: 1.6rem;
}

.service-list__item-desc {
    font-size: 1.4rem;
    font-weight: 400;
}

.service-list__item-title {
    font-size: 2.4rem;
    font-weight: 600;
}

//Responsive for tablet devices
@media (min-width: 740px) and (max-width: 1024px) {
    .service-list__item {
        width: 345px;
    }

    .service-list__btn {
        &.service-list__btn--prev {
            left: -17px;
        }

        &.service-list__btn--next {
            right: -17px;
        }
    }
}

//Responsive for mobile devices
@media (max-width: 739px) {
    div.service-list__wrapper {
        div.slick-list {
            padding: 0 20% 0 0 !important;
        }
    }

    .home__service-list.container-center {
        padding: 0 2.4rem;
    }

    .service-list__item {
        width: 100%;
    }
}
