@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@200;300;400;500;600;700&display=swap');

//SASS
@import '../../sassStyles/helpers/_mixin';
@import '../../sassStyles/helpers/_variables';

//React-slick
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

:root {
    --white: #fff;
    --black: #404145;
    --dark-gray: #404145;
    --light-gray: #66646f;
    --light-text: #95979d;
    --gray-text: #74767e;
    --bg-green: #f1fdf7;
    --bg-gray: #f5f5f5;
    --primary: #1dbf73;

    --border-color: #e4e5e7;

    --header-height: 8rem;
    --container-width: 140rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.container-center {
    width: var(--container-width) !important;
    margin: 0 auto !important;
}

.hide-on-pc {
    display: none !important;
}

//Responsive for tablet + PC devices
@media (min-width: 740px) {
    .hide-on-pc-tablet {
        display: none !important;
    }
}

//Responsive for tablet + mobile devices
@media (max-width: 1023px) {
    .container-center {
        width: 100% !important;
    }

    .hide-on-tablet-mobile {
        display: none !important;
    }

    .display-tablet-mobile {
        display: block !important;
    }
}

//Responsive for tablet devices
@media (min-width: 740px) and (max-width: 1024px) {
    .hide-on-tablet {
        display: none !important;
    }
}

//Responsive for mobile devices
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none !important;
    }
}
