#job-details-page {
    position: relative;
}

.job-details__head {
    height: var(--job-details-nav-height);
    border-bottom: 0.1rem solid #dadbdd;

    &.on-scroll {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--white);
        z-index: 11;
    }
}

.job-details__body {
    position: relative;
    display: flex;
    margin: 0 3.2rem;
}

.job-details__content {
    margin-right: 10%;
    width: calc(100% - 34% - 10%);
    object-fit: contain;
    object-position: center;
}

.job-details-content__wrapper {
    padding-bottom: 6.4rem;
}

.job-details__img img {
    margin-top: 3rem;
    width: 100%;
    height: 50rem;
}

.job-details-content__title {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2.5rem;
}

.job-details__title {
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 1.6rem;
}

.job-details-about__content {
    .job-details-content__text {
        color: var(--light-gray);
        line-height: 2.4rem;
    }

    .job-details-content__text--bold {
        font-weight: 600;
    }
}

.job-details-seller__content {
    display: flex;
    align-items: center;
}

//Responsive for tablet + mobile devices
@media (max-width: 1023px) {
    .job-details__body {
        margin: 0;
    }

    .job-details__content {
        width: 100%;
        margin: 0 auto;
    }

    .job-details-content__wrapper {
        padding-bottom: 3.2rem;
    }

    .job-details__img {
        margin-left: -3.2rem;
        margin-right: -3.2rem;

        img {
            margin-bottom: 0;
            object-fit: cover;
            object-position: center;
        }
    }
}

//Responsive for tablet devices
@media (min-width: 740px) and (max-width: 1024px) {
}

//Responsive for mobile devices
@media (max-width: 739px) {
    .job-details__title {
        font-size: 2.3rem;
        font-weight: 600;
    }

    .job-details__img {
        img {
            height: 22rem;
        }
    }
}
