#job-list {
}

.job-list__title {
    --padding-y: 1.2rem;
    color: #000;
    font-size: 3.2rem;
    line-height: 150%;
    font-weight: 600;
    padding: calc(var(--job-filter-height) + var(--padding-y)) 0 var(--padding-y);
}

.job-list__filter-wrapper {
    display: flex;
    justify-content: space-between;
}
.job-list__filter—group {
    display: flex;
}

.job-list__filter-menu {
}

.job-list__filter—group {
}

label.filter-menu__item {
    .filter-menu__item--radio {
    }

    .filter-menu__item--text {
    }
}

.job-list__content {
}

.job-list__result {
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    margin: 1.5rem 0;
    color: #74767e;
}

.job-list__wrapper {
}

.job-list__pagination {
    display: flex;
    justify-content: center;
    margin: 3.2rem auto;

    .MuiPaginationItem-root {
        font-size: 1.5rem;
        border-radius: 0;
    }
}

//Responsive for tablet + mobile devices
@media (max-width: 1023px) {
    .job-list__filter-wrapper {
        display: block;
    }

    .job-list__filter—group {
        margin: 1.2rem 0;
    }

    .job-list__title {
        --padding-y: 1.2rem;

        // padding: 2rem 0 1.2rem;
    }
}

//Responsive for mobile devices
@media (max-width: 739px) {
    .job-list__title {
        --padding-y: 2rem;

        // padding: 2rem 0 1.2rem;
    }
}
