form.search-field__wrapper {
    --search-field-height: 4.8rem;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;

    > div {
        display: flex;
        flex: 1;
    }

    .search-field__input {
        flex: 1;
        font-size: 16px;
        color: var(--black);
        height: var(--search-field-height);
    }

    .search-field__btn {
        height: var(--search-field-height);
        font-size: 1.6rem;
        text-transform: unset;
        padding: 12px 24px;
        background-color: var(--primary);
    }
}

.search-field__icon svg {
    font-size: 2.6rem;
    fill: var(--gray-text);
}

//Responsive for mobile and tablet devices
@media (max-width: 1023px) {
    form.search-field__wrapper {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;

        > div {
            display: flex;
            background-color: var(--white);
            width: 100%;
            margin-bottom: 1.2rem;
            border-radius: 0.4rem;
        }
    }

    .search-field__input,
    .search-field__btn {
        width: 100%;
    }
}
